doctype html
html(lang='tr')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(charset='UTF-8')
    if title
      title #{title} | events.node101
    else
      title events.node101
    link(href=`${URL}/fonts/atyp/style.css` rel='stylesheet' type='text/css' )
    link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet")
    if includes
      if includes.meta
        meta(property='og:type' content='website')
        if includes.meta.description
          meta(name='description' content=includes.meta.description)
        if includes.meta.image
          meta(property='og:image' content=includes.meta.image)
          meta(property='og:image:secure_url' content=includes.meta.image)
          meta(property='og:image:type' content='image/png')
          meta(property='og:image:alt' content=includes.meta.description)
        if includes.meta.keywords
          meta(name='keywords' content=includes.meta.keywords)
        if includes.meta.title
          meta(property='og:title' content=includes.meta.title)
        if includes.meta.twitter
          meta(name='twitter:title' content=includes.meta.title)
          meta(name='twitter:description' content=includes.meta.description)
          meta(name='twitter:image' content=includes.meta.image)
          meta(name='twitter:image:alt' content=includes.meta.title)
      if includes.external
        if includes.external.css
          each file_name in includes.external.css
            if file_name == 'page'
              link(rel='stylesheet' href=`${URL}/css/${page}.css`)
            else
              link(rel='stylesheet' href=`${URL}/css/general/${file_name}.css`)
        if includes.external.js
          each file_name in includes.external.js
            if file_name == 'page'
              script(src=`${URL}/js/${page}.js`)
            else
              script(src=`${URL}/js/functions/${file_name}.js`)
    body
      block content
