extends ./head
block content
  .all-wrapper
    .all-header-wrapper
      .all-header-top-wrapper
        a(href='/')
          img.all-header-logo(src=`${URL}/img/icons/logo.svg`, alt='node101 logo' loading='lazy')
        if lang == 'tr'
          a.all-header-language-button(href=`${url}?lang=en`)
            img.all-header-language-button-flag(src=`${URL}/img/flags/en.png` alt='node101 language english' loading='lazy')
            .all-header-language-button-text EN
        else
          a.all-header-language-button(href=`${url}?lang=tr`)
            img.all-header-language-button-flag(src=`${URL}/img/flags/tr.png` alt='node101 language türkçe' loading='lazy')
            .all-header-language-button-text TR
      .all-header-bottom-wrapper
        a.each-all-header-button(href='/cryptist')= __('CRYPTIST')
        a.each-all-header-button.main-each-all-header-button(href='/sui-move-workshop')= __('SUI MOVE WORKSHOP')
        a.each-all-header-button.secondary-each-all-header-button(href='/sui-move-workshop')= __('SUI')
        a.each-all-header-button.main-each-all-header-button(href='/aleo-tour-of-turkiye')= __('ALEO TOUR OF TURKIYE')
        a.each-all-header-button.secondary-each-all-header-button(href='/aleo-tour-of-turkiye')= __('ALEO')
        a.each-all-header-button(href='/nym-community-gathering')= __('NYM GATHERING')
        a.each-all-header-button(href='/moda-palas')= __('MODA PALAS')
    .all-content-wrapper
      block main
    .all-contact-wrapper
      .all-contact-left-wrapper
        .all-contact-left-title= __('Do you want to organize an event with node101?')
        .all-contact-left-text= __('node101 can help you organize your dream web3 event! Contact us!')
      .all-contact-right-wrapper
        .all-contact-right-subtitle= __('Contact Us')
        form.all-contact-right-form
          label.all-contact-right-input-label(for='contact-email-input')= __('E-mail:')
          input.all-contact-right-input#contact-email-input(type='email')
          .all-contact-right-input-border-bottom
          label.all-contact-right-input-label(for='contact-name-input')= __('Name:')
          input.all-contact-right-input#contact-name-input(type='name')
          .all-contact-right-input-border-bottom
          label.all-contact-right-input-label(for='contact-message-input')= __('Message:')
          textarea.all-contact-right-input#contact-message-input(oninput='this.style.height = 0; this.style.height = this.scrollHeight + \'px\'', rows='1')
          .all-contact-right-input-border-bottom
          .all-contact-right-bottom-wrapper
            .all-contact-right-button#contact-button= __('Submit')
              svg.all-contact-right-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
                path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
            .all-contact-right-success-message.display-none#contact-success-message
              svg.all-contact-right-success-message-icon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 10')
                path(d='M5.17957 9.10348L0.679565 4.60348L1.38657 3.89648L5.17957 7.68898L11.9726 0.896484L12.6796 1.60348L5.17957 9.10348Z' fill='#687BFA')
              .all-contact-right-success-message-text.each-text-small=__('Successful')
            .all-contact-right-error-message.each-text-small.display-none#contact-error-message= __('An error occurred.')
    .all-footer-wrapper
      .all-footer-top-wrapper
        .all-footer-top-left-wrapper
          .each-footer-top-left-column
            .each-footer-top-left-column-title.each-text-large= __('Community')
            each account in Object.keys(NODE101_SOCIAL_MEDIA_ACCOUNTS)
              a.each-footer-top-left-column-button.each-text-small(href=NODE101_SOCIAL_MEDIA_ACCOUNTS[account], target='_blank')= account.substring(0, 1).toUpperCase() + account.substring(1)
          .each-footer-top-left-column
            .each-footer-top-left-column-title.each-text-large= __('node101')
            each site in Object.keys(NODE101_WEBSITES)
              a.each-footer-top-left-column-button.each-text-small(href=NODE101_WEBSITES[site], target='_blank')= site.substring(0, 1).toUpperCase() + site.substring(1)
        .all-footer-right-wrapper
          a.each-footer-right-button.each-text-medium(href='/cryptist')= __('CryptIst')
            svg.each-footer-right-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
          .each-footer-right-button-border-bottom
          a.each-footer-right-button.each-text-medium(href='/moda-palas')= __('Moda Palas')
            svg.each-footer-right-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
          .each-footer-right-button-border-bottom
          a.each-footer-right-button.each-text-medium(href='/nym-community-gathering')= __('NYM Community Gathering')
            svg.each-footer-right-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
          .each-footer-right-button-border-bottom
          a.each-footer-right-button.each-text-medium(href='/aleo-tour-of-turkey')= __('Aleo Tour of Türkiye')
            svg.each-footer-right-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
          .each-footer-right-button-border-bottom
          a.each-footer-right-button.each-text-medium(href='/sui-move-workshop')= __('Sui Move Workshop')
            svg.each-footer-right-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
          .each-footer-right-button-border-bottom
      .all-footer-bottom-wrapper
        .all-footer-bottom-left-wrapper
          a.all-footer-bottom-left-button.each-text-small(href='mailto: hello@node101.io') hello@node101.io
          .all-footer-bottom-left-bottom-text.each-text-small © #{(new Date).getFullYear()} node101, #{__('All rights reserved.')}
        .all-footer-bottom-right-text.each-text-small= __('Designed & Developed by node101.io')
