extends ./head
block content
  .all-wrapper
    .all-header-wrapper
      .all-header-top-wrapper
        a(href='#')
          svg.all-header-logo(viewBox='0 0 138 24', xmlns='http://www.w3.org/2000/svg')
            path(d='M121.113 3.96094C115.36 3.96094 110.688 8.45384 110.688 13.9863C110.688 19.5188 115.36 24.0117 121.113 24.0117C126.867 24.0117 131.539 19.5188 131.539 13.9863C131.539 8.45384 126.867 3.96094 121.113 3.96094V3.96094ZM121.113 20.6659C117.274 20.6659 114.167 17.6786 114.167 13.9863C114.167 10.294 117.274 7.30672 121.113 7.30672C124.953 7.30672 128.059 10.294 128.059 13.9863C128.059 17.6786 124.953 20.6659 121.113 20.6659Z')
            path(d='M69.2485 0.615234H66.3906C66.2166 0.615234 66.08 0.746676 66.08 0.913965V5.87289C66.08 6.12382 65.7817 6.25526 65.5705 6.09992C64.6883 5.43077 63.6818 4.89305 62.6008 4.52263C61.5197 4.1522 60.3517 3.94907 59.1216 3.94907C54.0891 3.94907 49.8892 7.37849 48.92 11.9431C48.8828 12.1343 49.0319 12.3016 49.2307 12.3016H52.1632C52.2998 12.3016 52.4117 12.2179 52.4489 12.0865C53.2939 9.31426 55.953 7.2829 59.1216 7.2829C62.2901 7.2829 64.9492 9.31426 65.7942 12.0865C65.8314 12.2179 65.9433 12.3016 66.08 12.3016H69.2361C69.4101 12.3016 69.5467 12.1701 69.5467 12.0028V0.913965C69.5467 0.746676 69.4101 0.615234 69.2361 0.615234H69.2485Z')
            path(d='M69.2485 15.6475H66.0924C65.9557 15.6475 65.8439 15.7311 65.8066 15.8625C64.9617 18.6348 62.3026 20.6661 59.134 20.6661C55.9654 20.6661 53.3063 18.6348 52.4614 15.8625C52.4241 15.7311 52.3123 15.6475 52.1756 15.6475H49.2431C49.0443 15.6475 48.8952 15.8267 48.9325 16.0059C49.9141 20.5705 54.1016 24 59.134 24C61.8055 24 64.241 23.0321 66.08 21.4428V23.7012C66.08 23.8685 66.2167 24 66.3906 24H69.2485C69.4225 24 69.5592 23.8685 69.5592 23.7012V15.9462C69.5592 15.7789 69.4225 15.6475 69.2485 15.6475V15.6475Z')
            path(d='M83.2398 3.96094C78.2074 3.96094 74.0075 7.39036 73.0383 11.955C73.0011 12.1461 73.1502 12.3134 73.349 12.3134H76.2814C76.4181 12.3134 76.53 12.2298 76.5672 12.0984C77.4122 9.32613 80.0713 7.29477 83.2398 7.29477C86.4084 7.29477 88.9557 9.23054 89.8503 11.9191C89.9125 12.1103 89.7509 12.3134 89.5521 12.3134H83.5505C83.3765 12.3134 83.2398 12.4449 83.2398 12.6122V15.3605C83.2398 15.5278 83.3765 15.6592 83.5505 15.6592H93.2425C93.4041 15.6592 93.5408 15.5517 93.5532 15.3963C93.6277 14.9303 93.6526 14.4643 93.6526 13.9863C93.6526 13.4128 93.6029 12.8631 93.5035 12.3134C92.6834 7.5696 88.3965 3.96094 83.2274 3.96094H83.2398Z')
            path(d='M88.3468 18.9215C88.235 18.8021 88.0486 18.8021 87.9243 18.9215C86.6942 20.0089 85.0416 20.6661 83.2398 20.6661C80.0837 20.6661 77.4122 18.6348 76.5672 15.8625C76.53 15.7311 76.4181 15.6475 76.2814 15.6475H73.349C73.1502 15.6475 73.0011 15.8267 73.0383 16.0059C74.02 20.5705 78.2074 24 83.2398 24C85.9859 24 88.4835 22.9843 90.3349 21.3114C90.4592 21.1919 90.4592 21.0007 90.3349 20.8812L88.3344 18.9215H88.3468Z')
            path(d='M0 23.7012C0 23.8685 0.136683 24 0.310643 24H3.16856C3.34252 24 3.4792 23.8685 3.4792 23.7012V15.6475H0V23.7012Z')
            path(d='M20.2539 10.6408C19.7942 9.39806 19.0859 8.26289 18.1913 7.295C18.067 7.15161 17.9303 7.02017 17.7936 6.88873C17.6569 6.75728 17.5203 6.62584 17.3712 6.50635C15.5197 4.91711 13.0967 3.94922 10.4252 3.94922C7.75365 3.94922 5.31821 4.91711 3.4792 6.50635C3.19341 6.75728 2.92004 7.00822 2.6591 7.295C1.75203 8.25094 1.04376 9.38611 0.596435 10.6408C0.397623 11.1785 0.248515 11.7401 0.149109 12.3137H3.69044C4.46083 9.43391 7.18207 7.30695 10.4252 7.30695C12.3387 7.30695 14.0783 8.05975 15.3458 9.26662C16.2031 10.1031 16.8493 11.1546 17.1599 12.3256H20.7137C20.6143 11.7521 20.4652 11.1904 20.2663 10.6527L20.2539 10.6408Z')
            path(d='M17.3712 23.7012C17.3712 23.8685 17.5078 24 17.6818 24H20.5397C20.7137 24 20.8504 23.8685 20.8504 23.7012V15.6475H17.3712V23.7012Z')
            path(d='M107.408 0.615234H104.55C104.378 0.615234 104.239 0.748981 104.239 0.913965V23.7011C104.239 23.8661 104.378 23.9998 104.55 23.9998H107.408C107.579 23.9998 107.719 23.8661 107.719 23.7011V0.913965C107.719 0.748981 107.579 0.615234 107.408 0.615234Z')
            path(d='M137.689 0.615234H134.831C134.66 0.615234 134.521 0.748981 134.521 0.913965V23.7011C134.521 23.8661 134.66 23.9998 134.831 23.9998H137.689C137.861 23.9998 138 23.8661 138 23.7011V0.913965C138 0.748981 137.861 0.615234 137.689 0.615234Z')
            path(d='M34.7423 3.96094C29.5732 3.96094 25.2987 7.5696 24.4786 12.3134H28.02C28.7904 9.43368 31.4992 7.30672 34.7423 7.30672C38.5818 7.30672 41.6883 10.294 41.6883 13.9863C41.6883 17.6786 38.5818 20.6659 34.7423 20.6659C31.5116 20.6659 28.7904 18.539 28.02 15.6592H24.4786C25.3112 20.4031 29.5856 24.0117 34.7423 24.0117C40.4954 24.0117 45.1675 19.5188 45.1675 13.9863C45.1675 8.45384 40.4954 3.96094 34.7423 3.96094V3.96094Z')
        if lang == 'tr'
          a.all-header-language-button(href=`${url}?lang=en`)
            img.all-header-language-button-flag(src=`${URL}/img/flags/en.png` alt='node101 language english')
            .all-header-language-button-text EN
        else
          a.all-header-language-button(href=`${url}?lang=tr`)
            img.all-header-language-button-flag(src=`${URL}/img/flags/tr.png` alt='node101 language türkçe')
            .all-header-language-button-text TR
      .all-header-bottom-wrapper
        a.each-all-header-button(href='#crpytist' + (query_lang ? '?lang=' + query_lang : '') style='color: var(--cryptist-color);')= __('CRYPTIST')
        a.each-all-header-button(href='#sui-move-workshop' + (query_lang ? '?lang=' + query_lang : '') style='color: var(--sui-move-workshop-color);')= __('SUI MOVE WORKSHOP')
        a.each-all-header-button(href='#aleo-tour-of-turkiye' + (query_lang ? '?lang=' + query_lang : '') style='color: var(--aleo-tour-of-turkiye-color);')= __('ALEO TOUR OF TURKIYE')
        a.each-all-header-button(href='#nym-community-gathering' + (query_lang ? '?lang=' + query_lang : '') style='color: var(--nym-community-gathering-color);')= __('NYM GATHERING')
        a.each-all-header-button(href='#moda-palas' + (query_lang ? '?lang=' + query_lang : '') style='color: var(--moda-palas-color);')= __('MODA PALAS')
    .all-content-wrapper
      block main
    .all-footer-wrapper
      .all-footer-left-wrapper
        .all-footer-title= __('Do you want to organize an event with node101?')
        .all-footer-text= __('node101 can help you organize your dream web3 event! Contact us!')
        .all-footer-subtitle= __('Contact Us')
        form.all-footer-form
          label.all-footer-input-label(for='all-footer-name-input')= __('Name:')
          input.all-footer-input#all-footer-name-input(type='text')
          .all-footer-input-border-bottom
          label.all-footer-input-label(for='all-footer-email-input')= __('Email:')
          input.all-footer-input#all-footer-email-input(type='email')
          .all-footer-input-border-bottom
          label.all-footer-input-label(for='all-footer-message-input')= __('Message:')
          textarea.all-footer-input#all-footer-message-input(oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"', rows='1')
          .all-footer-input-border-bottom
          button.all-footer-button= __('Submit')
            svg.all-footer-button-icon(viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg")
              path(d="M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568" stroke-width="2")
      .all-footer-right-wrapper
        a.each-footer-right-button(href='#cryptist')= __('CryptIst')
          svg.each-footer-right-button-icon(viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg")
            path(d="M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568" stroke-width="2")
        .each-footer-right-button-border-bottom
        a.each-footer-right-button(href='#moda-palas')= __('Moda Palas')
          svg.each-footer-right-button-icon(viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg")
            path(d="M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568" stroke-width="2")
        .each-footer-right-button-border-bottom
        a.each-footer-right-button(href='#nym-community-gathering')= __('NYM Community Gathering')
          svg.each-footer-right-button-icon(viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg")
            path(d="M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568" stroke-width="2")
        .each-footer-right-button-border-bottom
        a.each-footer-right-button(href='#aleo-tour-of-turkey')= __('Aleo Tour of Türkiye')
          svg.each-footer-right-button-icon(viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg")
            path(d="M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568" stroke-width="2")
        .each-footer-right-button-border-bottom
        a.each-footer-right-button(href='#sui-move-workshop')= __('Sui Move Workshop')
          svg.each-footer-right-button-icon(viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg")
            path(d="M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568" stroke-width="2")
        .each-footer-right-button-border-bottom
        a.each-footer-right-button(href='https://t.me/node101', target='_blank')= __('Telegram')
          svg.each-footer-right-button-icon(viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg")
            path(d="M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568" stroke-width="2")
        .each-footer-right-button-border-bottom
        a.each-footer-right-button(href='https://twitter.com/node101org', target='_blank')= __('Twitter')
          svg.each-footer-right-button-icon(viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg")
            path(d="M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568" stroke-width="2")
        .each-footer-right-button-border-bottom
        a.each-footer-right-button(href='mailto: hello@node101.io' target='_blank')= __('Email')
          .each-footer-right-button-secondary-text hello@node101.io
        .each-footer-right-button-border-bottom