extends ./head
block content
  .all-wrapper
    .all-header-wrapper
      .all-header-top-wrapper
        a(href='/')
          img.all-header-logo(src=`${URL}/img/logo/header.svg`)
        if lang == 'tr'
          a.all-header-language-button(href=`${url}?lang=en`)
            img.all-header-language-button-flag(src=`${URL}/img/flags/en.png` alt='node101 language english')
            .all-header-language-button-text EN
        else
          a.all-header-language-button(href=`${url}?lang=tr`)
            img.all-header-language-button-flag(src=`${URL}/img/flags/tr.png` alt='node101 language türkçe')
            .all-header-language-button-text TR
      .all-header-bottom-wrapper
        a.each-all-header-button(href='/cryptist' + (query_lang ? '?lang=' + query_lang : ''))= __('CRYPTIST')
        a.each-all-header-button.main-each-all-header-button(href='/sui-move-workshop' + (query_lang ? '?lang=' + query_lang : ''))= __('SUI MOVE WORKSHOP')
        a.each-all-header-button.secondary-each-all-header-button(href='/sui-move-workshop' + (query_lang ? '?lang=' + query_lang : ''))= __('SUI WORKSHOP')
        a.each-all-header-button.main-each-all-header-button(href='/aleo-tour-of-turkiye' + (query_lang ? '?lang=' + query_lang : ''))= __('ALEO TOUR OF TURKIYE')
        a.each-all-header-button.secondary-each-all-header-button(href='/aleo-tour-of-turkiye' + (query_lang ? '?lang=' + query_lang : ''))= __('ALEO TOUR')
        a.each-all-header-button(href='/nym-community-gathering' + (query_lang ? '?lang=' + query_lang : ''))= __('NYM GATHERING')
        a.each-all-header-button(href='/moda-palas' + (query_lang ? '?lang=' + query_lang : ''))= __('MODA PALAS')
    .all-content-wrapper
      block main
    .all-footer-wrapper
      .all-footer-title= __('Do you want to organize an event with node101?')
      .all-footer-text= __('node101 can help you organize your dream web3 event! Contact us!')
      .all-footer-subtitle= __('Contact Us')
      form.all-footer-form
        label.all-footer-input-label(for='all-footer-name-input')= __('Name:')
        input.all-footer-input#all-footer-name-input(type='text')
        .all-footer-input-border-bottom
        label.all-footer-input-label(for='all-footer-email-input')= __('Email:')
        input.all-footer-input#all-footer-email-input(type='email')
        .all-footer-input-border-bottom
        label.all-footer-input-label(for='all-footer-message-input')= __('Message:')
        textarea.all-footer-input#all-footer-message-input(oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"', rows='1')
        .all-footer-input-border-bottom
        button.all-footer-button= __('Submit')
          svg.all-footer-button-icon(viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg")
            path(d="M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568" stroke-width="2")
    .all-second-footer-wrapper
      .all-second-footer-top-wrapper
        .all-second-footer-left-wrapper
          img.all-second-footer-logo(src=`${URL}/img/logo/header.svg`)
          h6.all-second-footer-copyright © #{(new Date).getFullYear()} node101, #{__('All rights reserved.')}
        .all-second-footer-right-wrapper
          .all-second-footer-right-info-wrapper
            h1.all-second-footer-title= __('Not Just an Ordinary Validator!')
            h2.all-second-footer-subtitle= __('node101 is a validator that describes promising projects and web3 technologies in a pure language.')
          .all-second-footer-right-columns-wrapper
            .all-second-footer-each-column-wrapper
              h3.all-second-footer-each-column-title= __('Community')
              each account in Object.keys(NODE101_SOCIAL_MEDIA_ACCOUNTS)
                a.all-second-footer-social-media-account-wrapper(href=NODE101_SOCIAL_MEDIA_ACCOUNTS[account] target='_blank')
                  svg.all-second-footer-social-media-account-icon(xmlns='http://www.w3.org/2000/svg' viewBox=SOCIAL_MEDIA_ICONS[account].view_box)
                    path(d=SOCIAL_MEDIA_ICONS[account].d)
                  .all-second-footer-each-column-link= account.substring(0, 1).toUpperCase() + account.substring(1)
            .all-second-footer-each-column-wrapper
              h3.all-second-footer-each-column-title= __('Events')
              a.all-second-footer-each-column-link(href='/cryptist')= __('Cryptist')
              a.all-second-footer-each-column-link(href='/sui-move-workshop')= __('SUI Move Workshop')
              a.all-second-footer-each-column-link(href='/aleo-tour-of-turkiye')= __('Aleo Tour of Turkiye')
              a.all-second-footer-each-column-link(href='/nym-community-gathering')= __('NYM Community Gathering')
              a.all-second-footer-each-column-link(href='/moda-palas')= __('Moda Palas')
            .all-second-footer-each-column-wrapper
              h3.all-second-footer-each-column-title node101
              a.all-second-footer-each-column-link(href='https://node101.io/' target='_blank')= __('Website')
              a.all-second-footer-each-column-link(href='https://library.node101.io/' target='_blank')= __('Library')
              a.all-second-footer-each-column-link(href='https://stake.node101.io/' target='_blank')= __('Stake with Us')
              a.all-second-footer-each-column-link(href='https://klein.run/' target='_blank')= __('Klein')
      .all-second-footer-bottom-wrapper
        .all-second-footer-bottom-text #{__('Designed & Developed by node101.io')}