extends ../partials/header
block main
  .all-content-inner-wrapper
    .events-slider-outer-wrapper
      .events-slider-wrapper
        a.each-event-slider-wrapper(href='/cryptist')
          img.each-event-slider-image(src=`${URL}/img/cryptist/main/main_1400.webp` srcset=`${URL}/img/cryptist/main/main_1400.webp 1400w, ${URL}/img/cryptist/main/main_1000.webp 1000w, ${URL}/img/cryptist/main/main_600.webp 600w`)
          .each-event-slider-text#cryptist-slider-text(data-text=__('CRYPTIST'))= __('CRYPTIST')
        a.each-event-slider-wrapper(href='/sui-move-workshop')
          img.each-event-slider-image(src=`${URL}/img/sui-move-workshop/main/main_2000.webp` srcset=`${URL}/img/sui-move-workshop/main/main_2000.webp 2000w, ${URL}/img/sui-move-workshop/main/main_1400.webp 1400w, ${URL}/img/sui-move-workshop/main/main_1000.webp 1000w`)
          .each-event-slider-text#sui-slider-text(data-text=__('SUI MOVE WORKSHOP'))= __('SUI MOVE WORKSHOP')
        a.each-event-slider-wrapper(href='/aleo-tour-of-turkiye')
          img.each-event-slider-image(src=`${URL}/img/aleo-tour-of-turkiye/main/main_1850.webp` srcset=`${URL}/img/aleo-tour-of-turkiye/main/main_1850.webp 1850w, ${URL}/img/aleo-tour-of-turkiye/main/main_1400.webp 1400w, ${URL}/img/aleo-tour-of-turkiye/main/main_1000.webp 1000w`)
          .each-event-slider-text#aleo-slider-text(data-text=__('ALEO - TOUR OF TURKIYE'))= __('ALEO - TOUR OF TURKIYE')
        a.each-event-slider-wrapper(href='/nym-community-gathering')
          img.each-event-slider-image(src=`${URL}/img/nym-community-gathering/main/main_2000.webp` srcset=`${URL}/img/nym-community-gathering/main/main_2000.webp 2000w, ${URL}/img/nym-community-gathering/main/main_1400.webp 1400w, ${URL}/img/nym-community-gathering/main/main_1000.webp 1000w`)
          .each-event-slider-text#nym-slider-text(data-text=__('NYM COMMUNITY GATHERING'))= __('NYM COMMUNITY GATHERING')
        a.each-event-slider-wrapper(href='/moda-palas')
          img.each-event-slider-image(src=`${URL}/img/moda-palas/main/main_1280.webp` srcset=`${URL}/img/moda-palas/main/main_1280.webp 1280w, ${URL}/img/moda-palas/main/main_800.webp 800w`)
          .each-event-slider-text#moda-slider-text(data-text=__('MODA PALAS'))= __('MODA PALAS')
      .events-slider-bullets-wrapper
        .each-event-slider-bullet.each-event-slider-bullet-filled(data-index=0)
        .each-event-slider-bullet(data-index=1)
        .each-event-slider-bullet(data-index=2)
        .each-event-slider-bullet(data-index=3)
        .each-event-slider-bullet(data-index=4)
    .all-content-bridge-wrapper
      img.bridge-background(src=`${URL}/img/bridge/bridge_2200.webp` srcset=`${URL}/img/bridge/bridge_2200.webp 2200w, ${URL}/img/bridge/bridge_1400.webp 1400w, ${URL}/img/bridge/bridge_1000.webp 1000w, ${URL}/img/bridge/bridge_600.webp 600w` loading='lazy')
      .all-bridge-rectangles-top-wrapper
        each height, index in [80, 20, 80, 50, 108, 138, 200, 88, 58, 126, 140, 80, 108, 80, 250, 212, 126, 250, 89, 250, 200]
          .each-bridge-rectangle-top(style=`animation-delay: ${index * -0.3}s; height: ${height / 20}vw;`)
          .each-bridge-column
      .all-bridge-rectangles-bottom-wrapper
        each height, index in [482, 390, 326, 207, 53, 115, 128, 128, 292, 197, 114, 176, 147, 176, 147, 257, 168, 137, 167, 257, 200]
          .each-bridge-rectangle-bottom(style=`animation-delay: ${index * -0.3}s; height: ${height / 20}vw; margin-top: -${height / 20}vw;`)
    .all-content-motto-wrapper
      .all-content-motto-top-wrapper
        .all-content-motto-top-left-wrapper
          if lang == 'en'
            .each-motto-line= __('THE BRIDGE THAT')
            .each-motto-line= __('LEADS YOU')
          else
            .each-motto-line
              span= __('TÜRK EKOSİSTEMİNE')
            .each-motto-line= __('UZANAN KÖPRÜ')
        .all-content-motto-top-right-text#primary-content-motto-top-right-text= __('Istanbul connects two continents like node101 connects Turkish blockchain enthusiasts to the world. We enable you to reach university student clubs, blockchain communities, and developers that drive the ecosystem.')
      if lang == 'en'
        .each-motto-line= __('TO ')
          span= __('THE TURKISH ECOSYSTEM')
      .all-content-motto-top-right-text#secondary-content-motto-top-right-text= __('Istanbul connects two continents like node101 connects Turkish blockchain enthusiasts to the world. We enable you to reach university student clubs, blockchain communities, and developers that drive the ecosystem.')
    .all-content-team-wrapper
      .all-content-team-title= __('THE PARTNER YOU NEED')
      .all-content-team-text= __('node101 is an Istanbul based proof of stake validator that produces user-friendly solutions to the problems of the decentralized internet. In addition to the technical solutions and pain-point solver products it offers to blockchain projects, it organizes gatherings, summits, and workshops that feed the Turkish developer ecosystem. Moreover, It provides content to the ecosystem with blog posts, podcast episodes, and video content published on Library node101.') 
      .all-content-team-members-wrapper
        each column in MEMBER_COLUMNS_IN_FIVE
          .each-team-members-column
            each member in column
              .each-team-member-wrapper(style=`background: ${member.background_color};`)
                img.each-team-member-image(src=`${URL}/img/team/${member.image}`)
                .each-team-member-info-layer
                  .each-team-member-name(style=`color: ${member.name_color};`) #{member.name}
                  .each-team-member-title= __(member.title)
      .all-content-team-members-secondary-wrapper
        each column, index in MEMBER_COLUMNS_IN_FOUR
          .each-team-members-column(style=`margin-top: ${index % 2 ? '0px' : '240px'};`)
            each member in column
              .each-team-member-wrapper(style=`background: ${member.background_color};`)
                img.each-team-member-image(src=`${URL}/img/team/${member.image}`)
                .each-team-member-info-layer
                  .each-team-member-name(style=`color: ${member.name_color};`) #{member.name}
                  .each-team-member-title= __(member.title)
      .all-content-team-members-tertiary-wrapper
        each column, index in MEMBER_COLUMNS_IN_THREE
          .each-team-members-column(style=`margin-top: ${index % 2 ? '0px' : '240px'};`)
            each member in column
              .each-team-member-wrapper(style=`background: ${member.background_color};`)
                img.each-team-member-image(src=`${URL}/img/team/${member.image}`)
                .each-team-member-info-layer
                  .each-team-member-name(style=`color: ${member.name_color};`) #{member.name}
                  .each-team-member-title= __(member.title)
      .all-content-team-members-quaternary-wrapper
        each column, index in MEMBER_COLUMNS_IN_TWO
          .each-team-members-column(style=`margin-top: ${index % 2 ? '0px' : '240px'};`)
            each member in column
              .each-team-member-wrapper(style=`background: ${member.background_color};`)
                img.each-team-member-image(src=`${URL}/img/team/${member.image}`)
                .each-team-member-info-layer
                  .each-team-member-name(style=`color: ${member.name_color};`) #{member.name}
                  .each-team-member-title= __(member.title)
  .clickable-image-layer.display-none
    img.clickable-image-big
    img.clickable-image-big-close-button(src=`${URL}/img/icons/close-button.svg`)
  include ../event-pages/cryptist.pug
  include ../event-pages/sui-move-workshop.pug
  include ../event-pages/aleo-tour-of-turkiye.pug
  include ../event-pages/nym-community-gathering.pug
  include ../event-pages/moda-palas.pug
  input.display-none#routes(value=ROUTES)
