extends ../partials/header
block main
  .all-content-inner-wrapper
    .events-slider-outer-wrapper
      .events-slider-wrapper
        a.each-event-slider-wrapper.each-event-slider-active(href='#cryptist')
          img.each-event-slider-image(src=`${URL}/img/cryptist/main/main_1200w.webp` alt='' loading="lazy")
          h1.each-event-slider-text= __('CRYPTIST')
        a.each-event-slider-wrapper(href='#sui-move-workshop')
          img.each-event-slider-image(src=`${URL}/img/cryptist/main/main_1200w.webp` alt='' loading="lazy")
          h1.each-event-slider-text= __('SUI MOVE WORKSHOP')
        a.each-event-slider-wrapper(href='#aleo-tour-of-turkiye')
          img.each-event-slider-image(src=`${URL}/img/cryptist/main/main_1200w.webp` alt='' loading="lazy")
          h1.each-event-slider-text= __('ALEO - TOUR OF TURKIYE')
        a.each-event-slider-wrapper(href='#nym-community-gathering')
          img.each-event-slider-image(src=`${URL}/img/cryptist/main/main_1200w.webp` alt='' loading="lazy")
          h1.each-event-slider-text= __('NYM COMMUNITY GATHERING')
        a.each-event-slider-wrapper(href='#moda-palas')
          img.each-event-slider-image(src=`${URL}/img/cryptist/main/main_1200w.webp` alt='' loading="lazy")
          h1.each-event-slider-text= __('MODA PALAS')
      - const active_page = 'cryptist'
      .events-slider-bullets-wrapper
        .each-event-slider-bullet#cryptist-event-slider-bullet(data-index=0 class=(active_page == 'cryptist' ? 'each-event-slider-bullet-filled' : ''))
        .each-event-slider-bullet#moda-event-slider-bullet(data-index=1 class=(active_page == 'moda' ? 'each-event-slider-bullet-filled' : ''))
        .each-event-slider-bullet#sui-event-slider-bullet(data-index=2 class=(active_page == 'sui' ? 'each-event-slider-bullet-filled' : ''))
        .each-event-slider-bullet#nym-event-slider-bullet(data-index=3 class=(active_page == 'nym' ? 'each-event-slider-bullet-filled' : ''))
        .each-event-slider-bullet#aleo-event-slider-bullet(data-index=4 class=(active_page == 'aleo' ? 'each-event-slider-bullet-filled' : ''))
    .all-content-spot-wrapper
      img.spot-background(src=`${URL}/img/istanbul.webp`)
      .all-spot-rectangles-top-wrapper
        each height in [80, 20, 80, 50, 108, 138, 200, 88, 58, 126, 140, 80, 108, 80, 250, 212, 126, 250, 89, 250, 22, 108, 203, 126, 140, 80, 108, 250, 89, 250, 22, 108]
          .each-spot-rectangle-top(style=`height: ${height}px; min-height: ${height}px;`)
      .all-spot-rectangles-bottom-wrapper
        each height in [600, 508, 444, 325, 171, 233, 246, 246, 410, 315, 232, 294, 265, 294, 265, 375, 286, 255, 285, 375, 138, 294, 190, 410, 315, 232, 294, 265, 294, 286, 255, 285, 375]
          .each-spot-rectangle-bottom(style=`height: ${height}px; min-height: ${height}px; margin-top: -${height}px;`)
    .all-content-motto-wrapper
      .all-content-motto-top-wrapper
        .all-content-motto-top-left-wrapper
          .each-motto-line= __('THE BRIDGE THAT')
          .each-motto-line= __('LEADS YOU')
        .all-content-motto-top-right-text= __('In Istanbul, thousands of developers develop products on blockchain, and millions of people use crypto daily. Reach university student clubs, blockchain communities, and developers that drive the ecosystem with node101 events.')
      .each-motto-line= __('TO ')
        span= __('THE TURKISH ECOSYSTEM')
    .all-content-team-wrapper
      .all-content-team-title= __('TEAM OF AWESOMENESS')
      .all-content-team-text= __('node101 is a proof of stake validator that produces user-friendly solutions to the problems of the decentralized internet. In addition to the technical solutions and pain-point solver products it offers to blockchain projects, it organizes gatherings, summits, and workshops that feed the Turkish developer ecosystem. Moreover, It provides content to the ecosystem with blog posts, podcast episodes, and video content published on Library node101.') 
      .all-content-team-members-wrapper
        each column in member_columns
          .each-team-members-column
            each member in column
              .each-team-member-wrapper(style=`background: var(--member-${member.id}-background-color);`)
                img.each-team-member-image(src=`${URL}/img/team/${member.image}`)
                .each-team-member-info-layer
                  .each-team-member-name(style=`color: var(--member-${member.id}-name-color);`) #{member.name}
                  .each-team-member-title= __(member.title)
  .all-cryptist-wrapper
  .all-moda-palas-wrapper
  .all-sui-move-workshop-wrapper
  .all-nym-community-gathering-wrapper
  .all-aleo-tour-of-turkiye-wrapper