.each-event-page-wrapper.display-none.all-aleo-tour-of-turkiye-wrapper
  .each-event-page-inner-wrapper.all-aleo-tour-of-turkiye-inner-wrapper
    img.each-event-page-close-button(src=`${URL}/img/icons/close-button.svg` loading='lazy' alt='close button')
    img.each-event-page-switch-button.each-event-page-switch-right-button(src=`${URL}/img/icons/right-arrow.svg` loading='lazy' alt='right arrow')
    img.each-event-page-switch-button.each-event-page-switch-left-button(src=`${URL}/img/icons/left-arrow.svg` loading='lazy' alt='left arrow')
    .all-aleo-first-wrapper
      img.all-aleo-first-emoji(src=`${URL}/img/aleo-tour-of-turkiye/emojis.webp` loading='lazy' alt='emojis')
      .all-aleo-first-intro-wrapper
        .all-aleo-first-intro-title= __('ALEO - TOUR OF TURKIYE')
        .all-aleo-first-intro-event-type.each-text-small= __('Tour')
        .all-aleo-first-intro-text.each-text-medium= __('Aleo is a platform for blockchain applications using Zero-Knowledge Proof technology. In order to produce more Zero-Knowledge Proof-based products, the attention of the best young developers should be drawn to this area. Aware of this necessity, the Aleo team met with university students in Istanbul, Ankara, and Izmir and gave seminars and workshops through our "Tour of Turkey" process.')
        .all-aleo-first-intro-team-wrapper
          .each-aleo-first-intro-team-member-wrapper
            .each-aleo-first-intro-team-member-image
              img.clickable-image(src=`${URL}/img/aleo-tour-of-turkiye/errol.webp` loading='lazy' alt='errol')
            a.each-aleo-first-intro-team-member-name-button-wrapper(href='https://www.linkedin.com/in/errol-drummond-354b8885/' target='_blank')
              .each-aleo-first-intro-team-member-name-button-text.each-text-large Errol Drummond
              svg.each-aleo-first-intro-team-member-name-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
                path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
            .each-aleo-first-intro-team-member-title.each-text-small= __('ZK Educator, Aleo')
          .each-aleo-first-intro-team-member-wrapper
            .each-aleo-first-intro-team-member-image
              img.clickable-image(src=`${URL}/img/aleo-tour-of-turkiye/anthony.webp` loading='lazy' alt='anthony')
            a.each-aleo-first-intro-team-member-name-button-wrapper(href='https://www.linkedin.com/in/anthonydiprinzio/' target='_blank')
              .each-aleo-first-intro-team-member-name-button-text.each-text-large Anthony DiPrinzio
              svg.each-aleo-first-intro-team-member-name-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
                path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
            .each-aleo-first-intro-team-member-title.each-text-small= __('Head of Growth, Aleo')
          .each-aleo-first-intro-team-member-wrapper
            .each-aleo-first-intro-team-member-image
              img.clickable-image(src=`${URL}/img/aleo-tour-of-turkiye/mustafa.webp` loading='lazy' alt='mustafa')
            a.each-aleo-first-intro-team-member-name-button-wrapper(href='https://twitter.com/mechul_eth' target='_blank')
              .each-aleo-first-intro-team-member-name-button-text.each-text-large Mustafa Aksöz
              svg.each-aleo-first-intro-team-member-name-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
                path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
            .each-aleo-first-intro-team-member-title.each-text-small= __('Co-Founder, node101')
      .all-aleo-first-bottom-wrapper.each-scroll-down-button
        .each-scroll-down-button-text= __('Scroll down')
        img.each-scroll-down-button-icon(src=`${URL}/img/icons/down-arrow.svg` loading='lazy' alt='down arrow')
    .all-aleo-second-wrapper
      .all-aleo-second-left-wrapper
        .all-aleo-second-left-title= __('TURKEY\'S MOST TALENTED YOUNG SOFTWARE DEVELOPERS SHOULD FOCUS ON WEB3')
        .all-aleo-second-stats-wrapper
          .each-aleo-first-left-event-stats
            .each-aleo-first-left-event-stats-number(data-stats='+200') +200
            .each-aleo-first-left-event-stats-text= __('Participants')
          .each-aleo-first-left-event-stats
            .each-aleo-first-left-event-stats-number(data-stats='+3') +3
            .each-aleo-first-left-event-stats-text= __('Cities')
          .each-aleo-first-left-event-stats
            .each-aleo-first-left-event-stats-number(data-stats='2') 2
            .each-aleo-first-left-event-stats-text= __('Universities')
        .all-aleo-second-left-text.each-text-medium= __('node101 handled the entire process, including transportation, accommodation, and communication with university clubs. Errol Drummond and Anthony DiPrinzio from the Aleo team had the opportunity to meet with young software developers studying at Boğaziçi University and Middle East Technical University, some of the most critical higher education institutions in Turkey.')
        a.all-aleo-second-left-logo(href='https://www.aleo.org' target='_blank' rel='nofollow')
          img(src=`${URL}/img/cryptist/sponsors/aleo.webp` loading='lazy' alt='aleo')
      .all-aleo-second-right-wrapper
        .all-aleo-second-right-image
          img.clickable-image(src=`${URL}/img/aleo-tour-of-turkiye/hand.webp` loading='lazy' alt='hand')
    .all-aleo-third-wrapper
      .all-aleo-third-left-wrapper
        .all-aleo-third-left-image
          img.clickable-image(src=`${URL}/img/aleo-tour-of-turkiye/bogazici.webp` loading='lazy' alt='bogazici')
      .all-aleo-third-right-wrapper
        .all-aleo-third-right-title= __('BOGAZICI UNIVERSITY - İSTANBUL')
        .all-aleo-third-right-text.each-text-medium= __('Bogazici University is one of the oldest educational institutions in the country, located on the most beautiful hill of the Bosphorus in Istanbul, the economic and cultural capital of Turkey. The university, the first educational institution to be opened abroad with the encouragement of the United States, has provided education since 1863. Therefore, the meeting held at the school, which stands out with its competitiveness in engineering, software, business, and economics, was trendy among the students.')
        .all-aleo-third-right-inner-wrapper
          .all-aleo-third-right-inner-image
            img.clickable-image(src=`${URL}/img/aleo-tour-of-turkiye/class.webp` loading='lazy' alt='class')
          .all-aleo-third-right-inner-text.each-text-medium= __('In the Aleo meeting, which was attended by BUchain, one of the pioneers of Blockchain research and development efforts at Boğaziçi University, there was an intense conversation about the solution proposals brought by Zero-Knowledge Proof technology.')
    .all-aleo-fourth-wrapper
      .all-aleo-fourth-left-wrapper
        .all-aleo-fourth-left-title= __('MIDDLE EAST TECHNICAL UNIVERSITY - ANKARA')
        .all-aleo-fourth-left-text.each-text-medium= __('Middle East Technical University (METU), located in the capital Ankara, is the country\'s leading technical university. Founded by the United Nations in 1956, the university aims to train young people who will participate in developing Middle Eastern countries. Participation in the meeting we held at the school, which is famous for its engineers and software developers, was more than expected.')
        .all-aleo-fourth-left-image
          img.clickable-image(src=`${URL}/img/aleo-tour-of-turkiye/class2.webp` loading='lazy' alt='class')
      .all-aleo-fourth-right-wrapper
        .all-aleo-fourth-right-top-image
          img.clickable-image(src=`${URL}/img/aleo-tour-of-turkiye/odtu.webp` loading='lazy' alt='odtu')
        .all-aleo-fourth-right-bottom-image
          img.clickable-image(src=`${URL}/img/aleo-tour-of-turkiye/odtu2.webp` loading='lazy' alt='odtu')
        .all-aleo-fourth-right-text.each-text-medium= __('At the meeting where the solutions offered by Aleo for the expansion of the Zero-Knowledge Proof universe were evaluated, the interest and knowledge of the young people on the subject pleased the Aleo team.')
    .all-aleo-fifth-wrapper
      .all-aleo-fifth-title= __('İZMİR')
      .all-aleo-fifth-text.each-text-medium= __('After the university meetings held in Istanbul and Ankara, we came together with the Aleo Turkish community in Izmir, the "Pearl of the Aegean", one of the country\'s most important gateways to the West. In this meeting, we discussed the latest issues that Aleo is working on and the milestones that are planned to be overcome. Along the road, together with the Aleo team, we visited essential ruins and natural wonders such as Sapanca Lake, Abant Lake, Ephesus Ancient City, and Troy Ancient City.')
      .all-aleo-fifth-top-image
        img.clickable-image(src=`${URL}/img/aleo-tour-of-turkiye/izmir.webp` loading='lazy' alt='izmir')
      .all-aleo-fifth-bottom-image
        img.clickable-image(src=`${URL}/img/aleo-tour-of-turkiye/izmir2.webp` loading='lazy' alt='izmir')
    .all-aleo-footer-wrapper
      a.each-aleo-footer-left-button(href='https://www.metu.edu.tr/tr' target='_blank' rel='nofollow')= __('Middle East Technical University')
        svg.each-aleo-footer-left-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
          path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
      .each-aleo-footer-left-button-border-bottom
      a.each-aleo-footer-left-button(href='https://www.boun.edu.tr/en-US/Index' target='_blank' rel='nofollow')= __('Bogazici University')
        svg.each-aleo-footer-left-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
          path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
      .each-aleo-footer-left-button-border-bottom
      a.each-aleo-footer-left-button(href='https://drive.google.com/drive/folders/1sTHu_vyXq_EYtOSJi1aYAk90OGaEAkzz?usp=drive_link' target='_blank')= __('Media')
        svg.each-aleo-footer-left-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
          path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
      .each-aleo-footer-left-button-border-bottom
