.each-event-page-wrapper.display-none.all-cryptist-wrapper
  .each-event-page-inner-wrapper.all-cryptist-inner-wrapper
    img.each-event-page-close-button(src=`${URL}/img/icons/close-button.svg` loading='lazy' alt='close button')
    img.each-event-page-switch-button.each-event-page-switch-right-button(src=`${URL}/img/icons/right-arrow.svg` loading='lazy' alt='right arrow')
    img.each-event-page-switch-button.each-event-page-switch-left-button(src=`${URL}/img/icons/left-arrow.svg` loading='lazy' alt='left arrow')
    .all-cryptist-first-wrapper
      .all-cryptist-first-left-wrapper
        .all-cryptist-first-left-title= __('CRYPTIST')
        .all-cryptist-first-left-event-type.each-text-small= __('Summit')
        .all-cryptist-first-left-event-text.each-text-medium= __('CryptIst aims to introduce the exciting opportunities offered by Zero-Knowledge Proof to young developers. The event, which hosted talented young developers in the country, was held in the inspiring atmosphere of Istanbul, the meeting point of East and West.')
        .all-cryptist-first-left-event-stats-wrapper
          .each-cryptist-first-left-event-stats
            .each-cryptist-first-left-event-stats-number(data-stats='150') 150
            .each-cryptist-first-left-event-stats-text.each-text-small= __('Participants')
          .each-cryptist-first-left-event-stats
            .each-cryptist-first-left-event-stats-number(data-stats='14') 14
            .each-cryptist-first-left-event-stats-text.each-text-small= __('Speakers')
          .each-cryptist-first-left-event-stats
            .each-cryptist-first-left-event-stats-number(data-stats='7') 7
            .each-cryptist-first-left-event-stats-text.each-text-small= __('Sponsors')
          .each-cryptist-first-left-event-stats
            .each-cryptist-first-left-event-stats-number(data-stats='6') 6
            .each-cryptist-first-left-event-stats-text.each-text-small= __('Partners')
      .all-cryptist-first-right-wrapper
        .all-cryptist-first-right-image
          img.clickable-image(src=`${URL}/img/cryptist/speaker9/speaker9.webp` loading='lazy' alt='speaker9')
    .all-cryptist-second-wrapper
      .all-cryptist-second-left-wrapper.each-scroll-down-button
        .each-scroll-down-button-text= __('Scroll down')
        img.each-scroll-down-button-icon(src=`${URL}/img/icons/down-arrow.svg` loading='lazy' alt='down arrow')
      .all-cryptist-second-middle-wrapper
        .all-cryptist-second-middle-image
          img.clickable-image(src=`${URL}/img/cryptist/hand/hand_300w.webp` loading='lazy' alt='hand')
      .all-cryptist-second-right-wrapper
        a.all-cryptist-second-right-button.each-url-button(href='https://youtu.be/qzWwVLtQsyg' target='_blank')
          .each-url-button-text= __('Video')
          svg.each-url-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
            path(d='M0.656854 13.6295L11.9224 3.00289M1.54723 1.42543L10.1732 1.25373L13.5258 4.60629L13.5484 13.4266')
        .all-cryptist-second-right-image
          img.clickable-image(src=`${URL}/img/cryptist/damir_mustafa/damir_mustafa_700w.webp` loading='lazy' alt='damir and mustafa')
    .all-cryptist-third-wrapper
      img.all-cryptist-third-emoji(src=`${URL}/img/cryptist/emojis/emojis.webp` loading='lazy' alt='emojis')
      .all-cryptist-third-text.each-text-medium
        | #{__('CryptIst hosted many international names who developed Zero-knowledge Proof technology. Among these names, Emre Tekişalp, Toghrul Maharramov, Anthony Diprinzio, Kaan Uzdoğan, Todd Norton, and Albiona Hoti stood out. CryptIst, organized under the leadership of Mustafa Aksöz, Errol Drummond, and Murat Karademir, has been sponsored by the leading projects of the blockchain industry.')}
        br
        | #{__('The summit was supported by blockchain student clubs, zero-knowledge newsletters, and node101 as partners.')}
    .all-cryptist-sponsors-wrapper
      a(href='https://www.aleo.org/' target='_blank' rel='nofollow')
        img.each-cryptist-sponsor(src=`${URL}/img/cryptist/sponsors/aleo.webp` loading='lazy' alt='aleo')
      a(href='https://ethereum.foundation/' target='_blank' rel='nofollow')
        img.each-cryptist-sponsor(src=`${URL}/img/cryptist/sponsors/ethereum-foundation.webp` loading='lazy' alt='ethereum foundation')
      a(href='https://dydx.foundation/' target='_blank' rel='nofollow')
        img.each-cryptist-sponsor(src=`${URL}/img/cryptist/sponsors/dydx.webp` loading='lazy' alt='dydx')
      a(href='https://ventures.paribu.com/' target='_blank' rel='nofollow')
        img.each-cryptist-sponsor(src=`${URL}/img/cryptist/sponsors/paribu-ventures.webp` loading='lazy' alt='paribu ventures')
      a(href='https://manta.network/' target='_blank' rel='nofollow')
        img.each-cryptist-sponsor(src=`${URL}/img/cryptist/sponsors/manta-network.webp` loading='lazy' alt='manta network')
      a(href='https://o1labs.org/' target='_blank' rel='nofollow')
        img.each-cryptist-sponsor(src=`${URL}/img/cryptist/sponsors/o1-labs.webp` loading='lazy' alt='o1 labs')
      a(href='https://scroll.io/' target='_blank' rel='nofollow')
        img.each-cryptist-sponsor(src=`${URL}/img/cryptist/sponsors/scroll.webp` loading='lazy' alt='scroll')
    .all-cryptist-sponsors-secondary-wrapper
      .each-cryptist-sponsors-secondary-row
        a(href='https://www.aleo.org/' target='_blank' rel='nofollow')
          img.each-cryptist-sponsor(src=`${URL}/img/cryptist/sponsors/aleo.webp` loading='lazy' alt='aleo')
        a(href='https://ethereum.foundation/' target='_blank' rel='nofollow')
          img.each-cryptist-sponsor(src=`${URL}/img/cryptist/sponsors/ethereum-foundation.webp` loading='lazy' alt='ethereum foundation')
        a(href='https://dydx.foundation/' target='_blank' rel='nofollow')
          img.each-cryptist-sponsor(src=`${URL}/img/cryptist/sponsors/dydx.webp` loading='lazy' alt='dydx')
        a(href='https://ventures.paribu.com/' target='_blank' rel='nofollow')
          img.each-cryptist-sponsor(src=`${URL}/img/cryptist/sponsors/paribu-ventures.webp` loading='lazy' alt='paribu ventures')
      .each-cryptist-sponsors-secondary-row
        a(href='https://manta.network/' target='_blank' rel='nofollow')
          img.each-cryptist-sponsor(src=`${URL}/img/cryptist/sponsors/manta-network.webp` loading='lazy' alt='manta network')
        a(href='https://o1labs.org/' target='_blank' rel='nofollow')
          img.each-cryptist-sponsor(src=`${URL}/img/cryptist/sponsors/o1-labs.webp` loading='lazy' alt='o1 labs')
        a(href='https://scroll.io/' target='_blank' rel='nofollow')
          img.each-cryptist-sponsor(src=`${URL}/img/cryptist/sponsors/scroll.webp` loading='lazy' alt='scroll')
    .all-cryptist-fourth-wrapper
      .all-cryptist-fourth-top-wrapper
        .all-cryptist-fourth-top-left-wrapper
          .all-cryptist-fourth-top-left-title.each-subtitle= __('A ZERO-KNOWLEDGE COMMUNITY EVENT IN İSTANBUL WITH CRYPTO NATIVES')
          .all-cryptist-fourth-top-left-text.each-text-medium= __('The event started with the participants sipping their coffee, accompanied by the unique Istanbul view, and snacking on "Simit" and "Poğaça" some of the most famous snacks of Turkish cuisine. At the same time, the participants were socializing by chatting with each other and the speakers.')
        a.all-cryptist-fourth-top-right-logo(href='https://www.cryptist.org/' target='_blank')
          img(src=`${URL}/img/icons/cryptist-logo.svg` loading='lazy' alt='cryptist logo')
        .all-cryptist-fourth-top-right-image
          img.clickable-image(src=`${URL}/img/cryptist/building/building.webp` loading='lazy' alt='building')
      .all-cryptist-fourth-bottom-wrapper
        .all-cryptist-fourth-bottom-left-image
          img.clickable-image(src=`${URL}/img/cryptist/people/people.webp` loading='lazy' alt='people')
        .all-cryptist-fourth-bottom-right-image
          img.clickable-image(src=`${URL}/img/cryptist/people2/people2.webp` loading='lazy' alt='people2')
    .all-cryptist-fifth-wrapper
      .all-cryptist-fifth-left-wrapper
        a.all-cryptist-fifth-left-top-button.each-url-button(href='https://github.com/GhostOfGauss' target='_blank' rel='nofollow')
          .each-url-button-text Todd Norton
          svg.each-url-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
            path(d='M0.656854 13.6295L11.9224 3.00289M1.54723 1.42543L10.1732 1.25373L13.5258 4.60629L13.5484 13.4266')
        .all-cryptist-fifth-left-top-text.each-text-medium
          | #{__('Errol Drummond, Murat Karademir, and Mustafa Aksöz made opening speeches, and the event officially started. Afterward, it is continued with Manta Network\'s ZK Cryptographer Todd Norton\'s presentation titled')}
          span #{__(' "SNARKs, ZKPs, and Other Things The NSA Doesn\'t Want You to Know About".')} 
          | #{__('cryptist-fifth-left-turkish-text')}
        a.all-cryptist-fifth-left-top-second-button.each-url-button(href='https://youtu.be/HH-3jTgIpVU' target='_blank')
          .each-url-button-text= __('Video')
          svg.each-url-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
            path(d='M0.656854 13.6295L11.9224 3.00289M1.54723 1.42543L10.1732 1.25373L13.5258 4.60629L13.5484 13.4266')
        .all-cryptist-fifth-left-middle-wrapper
          .all-cryptist-fifth-left-middle-image
            img.clickable-image(src=`${URL}/img/cryptist/people3/people3.webp` loading='lazy')
          .all-cryptist-fifth-left-middle-quote-wrapper
            .all-cryptist-fifth-left-middle-quote.each-text-small= __('"Todd Norton brought me Zero-Knowledge Proof and Blockchain philosophy with his presentation, like Prometheus, who brought Fire from the Olympians to humans."')
            .all-cryptist-fifth-left-middle-author.each-text-small= __('Aytunç Sancar - Junior Developer at node101')
      .all-cryptist-fifth-right-wrapper
        .all-cryptist-fifth-right-top-image
          img.clickable-image(src=`${URL}/img/cryptist/speaker/speaker.webp` loading='lazy' alt='speaker')
        a.all-cryptist-fifth-right-logo(href='https://manta.network/' target='_blank' rel='nofollow')
          img(src=`${URL}/img/cryptist/sponsors/manta-network.webp` loading='lazy' alt='manta network')
    .all-cryptist-sixth-wrapper
      .all-cryptist-sixth-left-wrapper
        .all-cryptist-sixth-left-text.each-text-medium
          | #{__('With her presentation titled')}
          span #{__(' "Getting into Web3 as a Developer", ')}
          | #{__('Eda Aktürk addressed young people who have not yet produced products in the web3 field and have not mastered web3 languages.')}
        a.all-cryptist-sixth-left-button.each-url-button(href='https://youtu.be/VnuujVIJoHI' target='_blank')
          .each-url-button-text= __('Video')
          svg.each-url-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
            path(d='M0.656854 13.6295L11.9224 3.00289M1.54723 1.42543L10.1732 1.25373L13.5258 4.60629L13.5484 13.4266')
      .all-cryptist-sixth-right-wrapper
        a.all-cryptist-sixth-right-button.each-url-button(href='https://www.linkedin.com/in/eda-akturk-a9624b105/' target='_blank' rel='nofollow')
          .each-url-button-text Eda Aktürk
          svg.each-url-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
            path(d='M0.656854 13.6295L11.9224 3.00289M1.54723 1.42543L10.1732 1.25373L13.5258 4.60629L13.5484 13.4266')
        .all-cryptist-sixth-right-bottom-image
          img.clickable-image(src=`${URL}/img/cryptist/speaker2/speaker2.webp` loading='lazy' alt='speaker')
    .all-cryptist-seventh-wrapper
      .all-cryptist-seventh-left-wrapper
        .all-cryptist-seventh-left-text.each-text-medium
          | #{__('Subsequently, Albiona Hoti from Manta Network wrote code with the participants in her interactive presentation titled')}
          span #{__(' "Private Everything: On-chain Privacy Demo with Manta Network\'s Dolphin Testnet".')}
          | #{__('cryptist-seventh-left-turkish-text')}
        a.all-cryptist-seventh-left-button.each-url-button(href='https://www.linkedin.com/in/albionahoti/' target='_blank' rel='nofollow')
          .each-url-button-text Albiona Hoti
          svg.each-url-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
            path(d='M0.656854 13.6295L11.9224 3.00289M1.54723 1.42543L10.1732 1.25373L13.5258 4.60629L13.5484 13.4266')
        .all-cryptist-seventh-left-image
          img.clickable-image(src=`${URL}/img/cryptist/speaker4/speaker4.webp` loading='lazy' alt='speaker')
        .all-cryptist-seventh-left-bottom-wrapper
          a.all-cryptist-seventh-left-bottom-logo(href='https://manta.network/' target='_blank' rel='nofollow')
            img(src=`${URL}/img/cryptist/sponsors/manta-network.webp` loading='lazy' alt='manta network')
          a.all-cryptist-seventh-left-bottom-button.each-url-button(href='https://youtu.be/gDaD8-9hP1M' target='_blank')
            .each-url-button-text= __('Video')
            svg.each-url-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.656854 13.6295L11.9224 3.00289M1.54723 1.42543L10.1732 1.25373L13.5258 4.60629L13.5484 13.4266')
      .all-cryptist-seventh-right-wrapper
        .all-cryptist-seventh-right-top-wrapper
          a.all-cryptist-seventh-right-top-logo(href='https://www.aleo.org/' target='_blank' rel='nofollow')
            img(src=`${URL}/img/cryptist/sponsors/aleo.webp` loading='lazy' alt='aleo')
          a.all-cryptist-seventh-right-top-button.each-url-button(href='https://www.linkedin.com/in/anthonydiprinzio/' target='_blank')
            .each-url-button-text Anthony DiPrinzio
            svg.each-url-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.656854 13.6295L11.9224 3.00289M1.54723 1.42543L10.1732 1.25373L13.5258 4.60629L13.5484 13.4266')
        .all-cryptist-seventh-right-image
          img.clickable-image(src=`${URL}/img/cryptist/speaker5/speaker5.webp` loading='lazy' alt='speaker')
        .all-cryptist-seventh-right-text.each-text-medium
          | #{__('Anthony DiPrinzio of Aleo came with the presentation titled ')}
          span #{__(' "Use Cases for Private Applications on Web3: Where is the Real Value?". ')}
          | #{__('He evaluated the concepts of privacy and web3 with his presentation.')}
        a.all-cryptist-seventh-right-button.each-url-button(href='https://youtu.be/7a4bkE14ZWw' target='_blank')
          .each-url-button-text= __('Video')
          svg.each-url-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
            path(d='M0.656854 13.6295L11.9224 3.00289M1.54723 1.42543L10.1732 1.25373L13.5258 4.60629L13.5484 13.4266')
    .all-cryptist-eighth-wrapper
      .all-cryptist-eighth-left-wrapper
        a.all-cryptist-eighth-left-button.each-url-button(href='https://www.linkedin.com/in/emretekisalp/' target='_blank' rel='nofollow')
          .each-url-button-text Emre Tekişalp
          svg.each-url-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
            path(d='M0.656854 13.6295L11.9224 3.00289M1.54723 1.42543L10.1732 1.25373L13.5258 4.60629L13.5484 13.4266')
        .all-cryptist-eighth-left-image
          img.clickable-image(src=`${URL}/img/cryptist/speaker6/speaker6.webp` loading='lazy' alt='speaker')
        .all-cryptist-eighth-left-bottom-wrapper
          a.all-cryptist-eighth-left-bottom-button.each-url-button(href='https://youtu.be/OXA41DVsYsc' target='_blank')
            .each-url-button-text= __('Video')
            svg.each-url-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.656854 13.6295L11.9224 3.00289M1.54723 1.42543L10.1732 1.25373L13.5258 4.60629L13.5484 13.4266')
          a.all-cryptist-eighth-left-bottom-logo(href='https://o1labs.org/' target='_blank' rel='nofollow')
            img(src=`${URL}/img/cryptist/sponsors/o1-labs.webp` loading='lazy' alt='o1 labs')
      .all-cryptist-eighth-right-wrapper
        .all-cryptist-eighth-right-text.each-text-medium
          | #{__('Emre Tekişalp, CEO of O(1) Labs, with his presentation titled')}
          span #{__(' "ZK and Web3 Mass Adoption (and it\'s not just about scalability)", ')}
          | #{__('informed the young participants how O(1) labs aim to solve problems scaling zk universe. Also, Emre talked about his memories of his homeland, Türkiye, and how young developers could develop their careers internationally.')}
        .all-cryptist-eighth-right-quote-wrapper
          .all-cryptist-eighth-right-quote.each-text-small= __('"Emre\'s presentation introduced me to Mina. And, CryptIst introduced me to Emre"')
          .all-cryptist-eighth-right-quote-author.each-text-small= __('Yasin Berk Yeşilyurt - Mina Community Builder')
        .all-cryptist-eighth-right-image
          img.clickable-image(src=`${URL}/img/cryptist/people4/people4.webp` loading='lazy' alt='people')
    .all-cryptist-ninth-wrapper
      .all-cryptist-ninth-left-wrapper
        a.all-cryptist-ninth-left-button.each-url-button(href='https://twitter.com/toghrulmaharram' target='_blank' rel='nofollow')
          .each-url-button-text Toghrul Maharramov
          svg.each-url-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
            path(d='M0.656854 13.6295L11.9224 3.00289M1.54723 1.42543L10.1732 1.25373L13.5258 4.60629L13.5484 13.4266')
        .all-cryptist-ninth-left-image
          img.clickable-image(src=`${URL}/img/cryptist/speaker7/speaker7.webp` loading='lazy' alt='speaker')
        .all-cryptist-ninth-left-text.each-text-medium
          | #{__('The presentation titled')}
          span #{__(' "Zero-Knowledge Proofs in the World of Rollups" ')}
          | #{__('by Toghrul Maharramov from Scroll, one of the most exciting projects of the last period, brought up the place of zk-rollups in the future of blockchain.')}
        .all-cryptist-ninth-left-bottom-wrapper
          a.all-cryptist-ninth-left-bottom-button.each-url-button(href='https://youtu.be/vbXauYMXTi0' target='_blank')
            .each-url-button-text= __('Video')
            svg.each-url-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.656854 13.6295L11.9224 3.00289M1.54723 1.42543L10.1732 1.25373L13.5258 4.60629L13.5484 13.4266')
        a.all-cryptist-ninth-left-bottom-logo(href='https://scroll.io/' target='_blank' rel='nofollow')
          img(src=`${URL}/img/cryptist/sponsors/scroll.webp` loading='lazy' alt='scroll')
      .all-cryptist-ninth-right-wrapper
        .all-cryptist-ninth-right-text.each-text-medium
          | #{__('After Toghrul\'s presentation, which received many questions from the participants, Kaan Uzdogan from the Ethereum Foundation made his presentation on')}
          span #{__(' "Ethereum Rollup-Centric Roadmap".')}
          | #{__('cryptist-ninth-right-turkish-text')}
        .all-cryptist-ninth-right-middle-wrapper
          a.all-cryptist-ninth-right-middle-logo(href='https://ethereum.foundation/' target='_blank' rel='nofollow')
            img(src=`${URL}/img/cryptist/sponsors/ethereum-foundation.webp` loading='lazy' alt='ethereum foundation')
          a.all-cryptist-ninth-right-middle-button.each-url-button(href='https://www.linkedin.com/in/kuzdogan/?originalSubdomain=de' target='_blank' rel='nofollow')
            .each-url-button-text Kaan Uzdoğan
            svg.each-url-button-icon(viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.656854 13.6295L11.9224 3.00289M1.54723 1.42543L10.1732 1.25373L13.5258 4.60629L13.5484 13.4266')
        .all-cryptist-ninth-right-image
          img.clickable-image(src=`${URL}/img/cryptist/speaker8/speaker8.webp` loading='lazy' alt='speaker')
    .all-cryptist-tenth-wrapper
      .all-cryptist-tenth-left-wrapper
        .all-cryptist-tenth-left-image
          img.clickable-image(src=`${URL}/img/cryptist/people5/people5.webp` loading='lazy' alt='people')
        .all-cryptist-tenth-left-title.each-subtitle= __('Afterparty')
        .all-cryptist-tenth-left-text.each-text-medium= __('The afterparty at "iguru Galata", one of the coolest and most popular nightclubs of the last period and located just below the Galata Tower, was organized under the sponsorship of Manta Netwok. During the night where iguru\'s famous cocktails were enjoyed, the participants, who learned the depths of the zero-knowledge universe all day long, had the opportunity to mingle with each other and with the speakers.')
        a.all-cryptist-tenth-left-location-wrapper(href='https://goo.gl/maps/6FwWb8GY7xkfAkNF7' target='_blank' rel='nofollow')
          svg.all-cryptist-tenth-left-location-icon(viewbox='0 0 14 18' xmlns='http://www.w3.org/2000/svg')
            path(d='M6.87501 10.25C6.25694 10.25 5.65275 10.0667 5.13885 9.72334C4.62495 9.37996 4.22441 8.8919 3.98788 8.32089C3.75136 7.74987 3.68947 7.12153 3.81005 6.51534C3.93063 5.90915 4.22826 5.35233 4.6653 4.91529C5.10234 4.47825 5.65916 4.18062 6.26535 4.06005C6.87154 3.93947 7.49987 4.00135 8.07089 4.23788C8.64191 4.4744 9.12997 4.87494 9.47335 5.38884C9.81673 5.90275 10 6.50693 10 7.125C9.99906 7.95351 9.66952 8.74782 9.08367 9.33367C8.49783 9.91951 7.70352 10.2491 6.87501 10.25ZM6.87501 5.25C6.50417 5.25 6.14165 5.35997 5.83331 5.56599C5.52497 5.77202 5.28465 6.06486 5.14273 6.40747C5.00082 6.75008 4.96369 7.12708 5.03603 7.49079C5.10838 7.85451 5.28696 8.1886 5.54918 8.45083C5.8114 8.71305 6.1455 8.89163 6.50921 8.96397C6.87293 9.03632 7.24993 8.99919 7.59254 8.85727C7.93515 8.71536 8.22799 8.47504 8.43401 8.16669C8.64004 7.85835 8.75001 7.49584 8.75001 7.125C8.74946 6.62789 8.55174 6.15129 8.20023 5.79978C7.84872 5.44827 7.37212 5.25055 6.87501 5.25Z')
            path(d='M6.87501 17.75L1.60282 11.5321C1.57288 11.4964 1.38519 11.2499 1.38519 11.2499C0.484508 10.0636 -0.00210416 8.6145 6.83948e-06 7.125C6.83948e-06 5.30164 0.724335 3.55295 2.01365 2.26364C3.30296 0.974328 5.05164 0.25 6.87501 0.25C8.69837 0.25 10.4471 0.974328 11.7364 2.26364C13.0257 3.55295 13.75 5.30164 13.75 7.125C13.7522 8.61389 13.266 10.0624 12.3658 11.2483L12.3648 11.2499C12.3648 11.2499 12.1773 11.4964 12.1494 11.5295L6.87501 17.75ZM2.38282 10.4969C2.38282 10.4969 2.52869 10.6895 2.56194 10.7309L6.87501 15.8174L11.1938 10.7237C11.2212 10.6892 11.368 10.4951 11.368 10.4951C12.1038 9.5258 12.5014 8.34195 12.5 7.125C12.5 5.63316 11.9074 4.20242 10.8525 3.14752C9.79759 2.09263 8.36685 1.5 6.87501 1.5C5.38316 1.5 3.95242 2.09263 2.89753 3.14752C1.84264 4.20242 1.25001 5.63316 1.25001 7.125C1.24862 8.34261 1.64656 9.52708 2.38282 10.4969Z')
          .all-cryptist-tenth-left-location-text.each-text-small= __('Bereketzade, Galata Kulesi Sk. No: 10, 34420 Beyoğlu/İstanbul')
      .all-cryptist-tenth-right-wrapper
        .all-cryptist-tenth-right-image
          img.clickable-image(src=`${URL}/img/cryptist/iguru/iguru.webp` loading='lazy' alt='iguru')
        .all-cryptist-tenth-right-second-image
          img.clickable-image(src=`${URL}/img/cryptist/people6/people6.webp` loading='lazy' alt='people')
    .all-cryptist-eleventh-wrapper
      .all-cryptist-eleventh-left-wrapper
        .all-cryptist-eleventh-image-top
          img.clickable-image(src=`${URL}/img/cryptist/galata/galata.webp` loading='lazy' alt='galata')
        .all-cryptist-eleventh-image-bottom
          img.clickable-image(src=`${URL}/img/cryptist/robot-hand/robot-hand.webp` loading='lazy' alt='robot hand')
      .all-cryptist-eleventh-right-wrapper
        .all-cryptist-eleventh-right-image
          img.clickable-image(src=`${URL}/img/cryptist/galata-inside/galata-inside.webp` loading='lazy' alt='galata inside')
        .all-cryptist-eleventh-right-title.each-subtitle= __('Salt Galata')
        .all-cryptist-eleventh-right-text.each-text-medium= __('Salt Galata, one of the most popular venues in Istanbul, hosted the one-day event. The unique view of the Golden Horn and the Bosphorus offered the participants an unforgettable experience.')
        a.all-cryptist-eleventh-right-location-wrapper(href='https://goo.gl/maps/Djrco8hEHtUhzuFt5' target='_blank' rel='nofollow')
          svg.all-cryptist-eleventh-right-location-icon(viewbox='0 0 14 18' xmlns='http://www.w3.org/2000/svg')
            path(d='M6.87501 10.25C6.25694 10.25 5.65275 10.0667 5.13885 9.72334C4.62495 9.37996 4.22441 8.8919 3.98788 8.32089C3.75136 7.74987 3.68947 7.12153 3.81005 6.51534C3.93063 5.90915 4.22826 5.35233 4.6653 4.91529C5.10234 4.47825 5.65916 4.18062 6.26535 4.06005C6.87154 3.93947 7.49987 4.00135 8.07089 4.23788C8.64191 4.4744 9.12997 4.87494 9.47335 5.38884C9.81673 5.90275 10 6.50693 10 7.125C9.99906 7.95351 9.66952 8.74782 9.08367 9.33367C8.49783 9.91951 7.70352 10.2491 6.87501 10.25ZM6.87501 5.25C6.50417 5.25 6.14165 5.35997 5.83331 5.56599C5.52497 5.77202 5.28465 6.06486 5.14273 6.40747C5.00082 6.75008 4.96369 7.12708 5.03603 7.49079C5.10838 7.85451 5.28696 8.1886 5.54918 8.45083C5.8114 8.71305 6.1455 8.89163 6.50921 8.96397C6.87293 9.03632 7.24993 8.99919 7.59254 8.85727C7.93515 8.71536 8.22799 8.47504 8.43401 8.16669C8.64004 7.85835 8.75001 7.49584 8.75001 7.125C8.74946 6.62789 8.55174 6.15129 8.20023 5.79978C7.84872 5.44827 7.37212 5.25055 6.87501 5.25Z')
            path(d='M6.87501 17.75L1.60282 11.5321C1.57288 11.4964 1.38519 11.2499 1.38519 11.2499C0.484508 10.0636 -0.00210416 8.6145 6.83948e-06 7.125C6.83948e-06 5.30164 0.724335 3.55295 2.01365 2.26364C3.30296 0.974328 5.05164 0.25 6.87501 0.25C8.69837 0.25 10.4471 0.974328 11.7364 2.26364C13.0257 3.55295 13.75 5.30164 13.75 7.125C13.7522 8.61389 13.266 10.0624 12.3658 11.2483L12.3648 11.2499C12.3648 11.2499 12.1773 11.4964 12.1494 11.5295L6.87501 17.75ZM2.38282 10.4969C2.38282 10.4969 2.52869 10.6895 2.56194 10.7309L6.87501 15.8174L11.1938 10.7237C11.2212 10.6892 11.368 10.4951 11.368 10.4951C12.1038 9.5258 12.5014 8.34195 12.5 7.125C12.5 5.63316 11.9074 4.20242 10.8525 3.14752C9.79759 2.09263 8.36685 1.5 6.87501 1.5C5.38316 1.5 3.95242 2.09263 2.89753 3.14752C1.84264 4.20242 1.25001 5.63316 1.25001 7.125C1.24862 8.34261 1.64656 9.52708 2.38282 10.4969Z')
          .all-cryptist-eleventh-right-location-text.each-text-small= __('Azapkapı, Bankalar Cd. No:11, 34420 Beyoğlu/İstanbul')
    .all-cryptist-footer-wrapper
      .all-cryptist-footer-title.each-subtitle= __('THE FUTURE OF ZERO-KNOWLEDGE PROOF IS TALKED IN ISTANBUL')
      .all-cryptist-footer-buttons-wrapper
        .each-cryptist-footer-button-column
          a.each-cryptist-footer-button(href='https://t.me/node101' target='_blank') Telegram
            svg.each-cryptist-footer-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
          .each-cryptist-footer-button-border-bottom
          a.each-cryptist-footer-button(href='https://twitter.com/node_101' target='_blank') Twitter
            svg.each-cryptist-footer-button-icon(viewBox='0 0 20 17' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
          .each-cryptist-footer-button-border-bottom
        .each-cryptist-footer-button-column
          a.each-cryptist-footer-button(href='https://node101.io' target='_blank')= __('Website')
            svg.each-cryptist-footer-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
          .each-cryptist-footer-button-border-bottom
          a.each-cryptist-footer-button(href='mailto: hello@node101.io' target='_blank')= __('E-mail')
            .each-cryptist-footer-button-secondary-text hello@node101.io
          .each-cryptist-footer-button-border-bottom
