.each-event-page-wrapper.display-none.all-moda-palas-wrapper
  .each-event-page-inner-wrapper.all-moda-palas-inner-wrapper
    img.each-event-page-close-button(src=`${URL}/img/icons/close-button.svg`)
    img.each-event-page-switch-button.each-event-page-switch-right-button(src=`${URL}/img/icons/right-arrow.svg`)
    img.each-event-page-switch-button.each-event-page-switch-left-button(src=`${URL}/img/icons/left-arrow.svg`)
    .all-moda-first-wrapper
      .all-moda-first-title= __('MODA PALAS')
      .all-moda-first-event-type.each-text-small= __('Gathering')
      .all-moda-first-text.each-text-medium= __('Blockchain is a rapidly developing technology. Therefore, with these meetings, we discuss the most up-to-date developments, where the developers who build the Blockchain ecosystem living in Istanbul come together monthly.')
    .all-moda-second-wrapper
      .all-moda-second-left-wrapper
        .all-moda-second-left-left-wrapper
          .all-moda-second-left-left-image
            img.clickable-image(src=`${URL}/img/moda-palas/board.webp` loading='lazy')
          .all-moda-second-left-left-bottom-wrapper.each-scroll-down-button
            .each-scroll-down-button-text= __('Scroll down')
            img.each-scroll-down-button-icon(src=`${URL}/img/icons/down-arrow.svg` loading='lazy')
        .all-moda-second-left-right-wrapper
          .all-moda-second-left-right-image
            img.clickable-image(src=`${URL}/img/moda-palas/sunset.webp` loading='lazy')
          img.all-moda-second-left-right-emoji(src=`${URL}/img/moda-palas/emojis.webp` loading='lazy')
      .all-moda-second-right-wrapper
        .all-moda-second-right-left-wrapper
          .all-moda-second-right-left-image
            img.clickable-image(src=`${URL}/img/moda-palas/people.webp` loading='lazy')
        .all-moda-second-right-right-wrapper
          .all-moda-second-right-right-image
            img.clickable-image(src=`${URL}/img/moda-palas/people2.webp` loading='lazy')
    .all-moda-third-wrapper
      .all-moda-third-left-wrapper
        if lang == 'en'
          .all-moda-third-left-info.each-text-small= __('* "Moda" means "Fashion" in Turkish and is the event place\'s neighborhood.')
        .each-moda-third-left-image
          img.clickable-image(src=`${URL}/img/moda-palas/tram.webp` loading='lazy')
        .each-moda-third-left-image
          img.clickable-image(src=`${URL}/img/moda-palas/people4.webp` loading='lazy')
      .all-moda-third-right-wrapper
        .all-moda-third-right-image
          img.clickable-image(src=`${URL}/img/moda-palas/people3.webp` loading='lazy')
        .all-moda-third-right-text-wrapper
          .each-moda-third-right-text.each-text-medium= __('Organized by Mustafa Aksöz, co-founder of node101, and cryptographer Errol Drummond, "Moda Palas" is a unique event that can be attended by invitation. The event is held at Errol\'s house overlooking the Bosphorus in Moda, the bohemian center of Istanbul. Participants exchange ideas throughout the night by delving into the technical details of the latest technologies in the blockchain.')
          .each-moda-third-right-text.each-text-medium= __('Moda Palas is frequently visited by international developers such as Damir Shamanaev known as The Move Guy, Polygon\'s Lead Developer Fedor Sakharov, as well as young developers from leading student clubs such as ITU Blockchain, YTU Blockchain, and BuChain.')
      .all-moda-third-title-first-row-wrapper
        .each-moda-third-title-first-row-part= __('F')
        .each-moda-third-title-first-row-part= __('OLL')
        .each-moda-third-title-first-row-part= __('OW THE')
      .all-moda-third-title-second-row-wrapper
        .each-moda-third-title-second-row-part= __('"MODA')
        .each-moda-third-title-second-row-part= __('" O')
        .each-moda-third-title-second-row-part= __('F THE')
      .all-moda-third-title-third-row-wrapper
        .each-moda-third-title-third-row-part= __('E')
        .each-moda-third-title-third-row-part= __('C')
        .each-moda-third-title-third-row-part= __('OSYSTEM')
    .all-moda-fourth-wrapper.each-moda-third-right-text.each-text-medium= __('Moda Palas is frequently visited by international developers such as Damir Shamanaev known as The Move Guy, Polygon\'s Lead Developer Fedor Sakharov, as well as young developers from leading student clubs such as ITU Blockchain, YTU Blockchain, and BuChain.')
    .all-moda-footer-wrapper
      .all-moda-footer-left-wrapper
        .all-moda-footer-left-image
          img.clickable-image(src=`${URL}/img/moda-palas/people5.webp` loading='lazy')
      .all-moda-footer-right-wrapper
        .all-moda-footer-right-text.each-text-medium= __('Some people from Moda Palas have formed teams so far, which are as follows: node101, Chainway, and Eduisas. We continue to bring Turkish Blockchain Developers together.')
        .all-moda-footer-right-button-wrapper
          a.each-moda-footer-right-button(href='https://drive.google.com/drive/folders/169GHQgfF4viQ6Vi9GmWGiBy8EwxdPVIP?usp=drive_link', target='_blank')= __('Media')
            svg.each-moda-footer-right-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
          .each-moda-footer-right-button-border-bottom
