.each-event-page-wrapper.display-none.all-sui-move-workshop-wrapper
  .each-event-page-inner-wrapper.all-sui-move-workshop-inner-wrapper
    img.each-event-page-close-button(src=`${URL}/img/icons/close-button.svg` loading='lazy' alt='close button')
    img.each-event-page-switch-button.each-event-page-switch-right-button(src=`${URL}/img/icons/right-arrow.svg` loading='lazy' alt='right arrow')
    img.each-event-page-switch-button.each-event-page-switch-left-button(src=`${URL}/img/icons/left-arrow.svg` loading='lazy' alt='left arrow')
    .all-sui-first-wrapper
      .all-sui-first-left-wrapper
        .all-sui-first-left-title= __('SUI MOVE WORKSHOP')
        .all-sui-first-left-event-type.each-text-small= __('Workshop')
        .all-sui-first-left-event-text.each-text-medium= __('Sui Move Language Workshops continue to be popular among young developers, with its fantastic tutor Damir Shamanaev, the author of the book "The Move Book" which introduced the Move language to the world, and one of the core team members that built the Sui project.')
        .all-sui-first-left-event-stats-wrapper
          .each-sui-first-left-event-stats
            .each-sui-first-left-event-stats-number(data-stats='+40') +40
            .each-sui-first-left-event-stats-text.each-text-small= __('Participants')
          .each-sui-first-left-event-stats
            .each-sui-first-left-event-stats-number(data-stats='+10') +10
            .each-sui-first-left-event-stats-text.each-text-small= __('Case Study')
          .each-sui-first-left-event-stats
            .each-sui-first-left-event-stats-number(data-stats='1') 1
            .each-sui-first-left-event-stats-text.each-text-small= __('Educator')
      .all-sui-first-right-wrapper
        .all-sui-first-right-image
          img.clickable-image(src=`${URL}/img/sui-move-workshop/people.webp` loading='lazy' alt='people')
    .all-sui-second-wrapper
      .all-sui-second-left-wrapper.each-scroll-down-button
        .each-scroll-down-button-text= __('Scroll down')
        img.each-scroll-down-button-icon(src=`${URL}/img/icons/down-arrow.svg` loading='lazy' alt='down arrow')
      .all-sui-second-middle-wrapper
        .all-sui-second-middle-image
          img.clickable-image(src=`${URL}/img/sui-move-workshop/laptop.webp` loading='lazy' alt='laptop')
      .all-sui-second-right-wrapper
        .all-sui-second-right-image
          img.clickable-image(src=`${URL}/img/sui-move-workshop/code-snippet.webp` loading='lazy' alt='code snippet')
        img.all-sui-second-emoji(src=`${URL}/img/sui-move-workshop/emojis.webp` loading='lazy' alt='emojis')
    .all-sui-third-wrapper
      .all-sui-third-top-text= __('Move is a new generation web3 software language where more secure, flexible, and verifiable blockchain products can be written. The number of projects produced with Move is increasing day by day.')
      .all-sui-third-bottom-text.each-text-medium= __('With Sui Move Language Workshops, we aimed to attract the attention of young software developers living in Istanbul to this new software language and to support them in developing projects on it.')
      a.all-sui-third-button.each-url-button(href='https://github.com/MystenLabs/sui' target='_blank' rel='nofollow')
        .each-url-button-text GitHub
        svg.each-url-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
          path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
    .all-sui-fourth-wrapper
      .all-sui-fourth-left-wrapper
        .all-sui-fourth-left-image
          img.clickable-image(src=`${URL}/img/sui-move-workshop/building.webp` loading='lazy' alt='building')
        .all-sui-fourth-left-text.each-text-medium= __('University blockchain clubs, students, individual developers and software developers show interest in workshops held in the city\'s favorite web3 hubs.')
      .all-sui-fourth-right-wrapper
        .all-sui-fourth-right-image
          img.clickable-image(src=`${URL}/img/sui-move-workshop/building2.webp` loading='lazy' alt='building')
    .all-sui-fifth-wrapper
      .all-sui-fifth-left-wrapper
        .all-sui-fifth-left-image
          img.clickable-image(src=`${URL}/img/sui-move-workshop/laptop2.webp` loading='lazy' alt='laptop')
        .all-sui-fifth-left-quote-wrapper
          .all-sui-fifth-left-quote-text.each-text-small= __('"Damir\'s devoted efforts inspired us to translate \'The Move Book\' into Turkish."')
          .all-sui-fifth-left-quote-author.each-text-small= __('Kerem Kaya - YTU Blockchain')
      .all-sui-fifth-right-wrapper
        .all-sui-fifth-right-image
          img.clickable-image(src=`${URL}/img/sui-move-workshop/people2.webp` loading='lazy' alt='people')
        .all-sui-fifth-right-text.each-text-medium= __('Coffee-tea and snacks are served during the Sui Move Language Workshops, which are held for one whole day every month. With the workshops held under the creative atmosphere of the Lunapark, the participants get the chance to learn, produce, and meet each other.')
    .all-sui-footer-wrapper
      .all-sui-footer-left-wrapper
        .all-sui-footer-left-text= __('Join our Telegram group to be informed about SUI Move Language Workshop events!')
        .all-sui-footer-left-buttons-wrapper
          a.each-sui-footer-left-button(href='https://t.me/node101', target='_blank') Telegram
            svg.each-sui-footer-left-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
          .each-sui-footer-left-button-border-bottom
          a.each-sui-footer-left-button(href='https://twitter.com/node_101', target='_blank') Twitter
            svg.each-sui-footer-left-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
          .each-sui-footer-left-button-border-bottom
          a.each-sui-footer-left-button(href='https://drive.google.com/drive/folders/11wJEDC4n0ZyaGz5Q1dUkABXsYMipmnIF?usp=drive_link', target='_blank')= __('Media')
            svg.each-sui-footer-left-button-icon(viewBox='0 0 20 21' xmlns='http://www.w3.org/2000/svg')
              path(d='M0.962123 19.4183L16.0943 3.41552M2.70586 1.8657L13.7991 1.24516L18.1983 5.40501L18.4536 16.7568' stroke-width='2')
          .each-sui-footer-left-button-border-bottom
      .all-sui-footer-right-wrapper
        .all-sui-footer-right-image
          img.clickable-image(src=`${URL}/img/sui-move-workshop/code-snippet2.webp` loading='lazy' alt='code snippet')
